.card__container {
  padding: 1rem;
  box-shadow: 0px 2px 2px 5px var(--shadow-color);
  margin-bottom: 1rem;
}

.card__header {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

.card__body {
  color: var(--white-light-color);
  margin-bottom: 0.6rem;
}

.repo__card__link {
  color: var(--white-color)
}

.card__body__light {
  color: var(--black-color);
  margin-bottom: 0.6rem;

}

.repo__card__link_light {
  color: var(--black-color)
}

.card__container__light {
  padding: 1rem;
  /* box-shadow: 1px 2px 7px 0.5px var(--black-color); */
  box-shadow: 1px 2px 7px 0.5px #355764;
  margin-bottom: 1rem;
}