.card__container{
  padding: 1rem;
  box-shadow: 0px 4px 8px 0px var(--shadow-color);
  margin-bottom: 1rem;
}

.card__header{
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
}

.card__body{
  color:var(--white-light-color);
  margin-bottom: 0.6rem;
}

.repo__card__link{
  color:var(--white-color)
}