.repo__card__header{
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.repo__card__user__profile{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.avatar__container{
  width:100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.avatar__container .avatar{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.repo__card__btn{
  margin-top: 1rem;
}

.card__container{
   flex: 0 0 32%;
   margin: 1% 0;
   
}
 .card__container:nth-child(3n-1) {
    margin-left: 2%;
    margin-right: 2%;
  }