.primary__button {
  /* background: var(--secondary-color); */
  background: #002B5B;
  font-weight: 600;
  border: 1px solid var(--secondary-color);
  padding: 0.30rem 0.3rem;
  border-radius: 4px;
}

.primary__button a {
  color: var(--white-color);
  font-size: 1.2rem;
  margin: 10%;
}

.primary__button:hover {
  /* background: var(--cyan-color); */
  cursor: pointer;
  transition: all 0.2s;
}

.primary__button:hover a {
  /* color: var(--black-color); */
  color: #8FE3CF;
}