.primary__button {
  position: relative;
  display: inline-flex;
  width: max-content;
  height: max-content;
  margin: 0 15px;
  perspective: 1000px;
  padding: 0.6rem;
  border-radius: 10px;
}
.primary__button > .anchor {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
.primary__button > .anchor:before,
.primary__button > .anchor:after {
  position: absolute;
  /* content: "Contribute"; */
  height: max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.primary__button > .anchor:before {
  color: #000;
  background: gray;
  transform: rotateY(0deg) translateZ(25px);
}
.primary__button > .anchor:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.primary__button:hover .anchor {
  transform: translateZ(-25px) rotateX(-90deg);
  color: black;
  background-color: gray;
  padding: 0.1rem;
}
