.primary__button {
  /* background: var(--secondary-color); */
  background: #002b5b;
  font-weight: 600;
  border: 1px solid var(--secondary-color);
  padding: 0.3rem 1.3rem;
  border-radius: 4px;
}

.primary__button a {
  color: var(--white-color);
  font-size: 1.2rem;
}

.primary__button:hover {
  /* background: var(--cyan-color); */
  cursor: pointer;
  transform: translateX(-2px) translateY(-2px);
  transition: all 0.2s;
  box-shadow: 4px 4px 5px #0071fc59;
  border: none;
}

.primary__button:hover a {
  /* color: var(--black-color); */
  color: #8fe3cf;
}
