footer{
  padding: 1rem;
  box-shadow: 0px -2px 5px 0px var(--shadow-color);
  margin-top: 1rem;
}

a {
  color: #34c0eb;
  padding-right: 20px;
}

img {
  width: 25px;
  height: 25px;
}

.hfest {
  width:29.5px;
  height:29px;
}