footer{
  padding: 1rem;
  box-shadow: 0px -2px 5px 0px var(--shadow-color);
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #34c0eb;
  padding-right: 20px;
}

img {
  margin: 0 10px 0 10px;
  width: 25px;
  height: 25px;
}

.hfest {
  width:29.5px;
  height:29px;
}