.app__container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.body__container > div{
  padding: 1rem;
}

.app_container_light{
   margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  background: var(--white-color);
}